@charset "UTF-8";

body {
    background-color: rgb(205, 255, 203);
}

h1 {
    color: rgb(4, 109, 0);
}

h2 {
    color: rgb(74, 146, 71);
}

h1#principal {
    text-align: center;
    background-color: green;
    color: white;
}

.basico {
    color: rgb(4, 109, 0);
    
}

.intermediario {
    color: rgb(107, 109, 0);

}

.avancado {
    color: rgb(109, 0, 0);

}